
   [Parameters]
matched_MassCBmean =  505.22 +/- 0.81848 L(200 - 800) 
matched_MassCBsigma =  35.758 +/- 1.5412 L(1 - 100) 
matched_MassCBalpha1 =  0.95559 +/- 0.067740 L(0 - 20) 
matched_MassCBn1 =  6.4119 +/- 1.2543 L(0 - 20) 
matched_MassCBalpha2 =  0.89166 +/- 0.066184 L(0 - 20) 
matched_MassCBn2 =  7.5464 +/- 1.8409 L(0 - 20) 
matchsel_njets = match
unmatched_Mass_start = -120.760 +/- 28.179 L(-800 - -1) 
unmatched_Mass_turn =  303.85 +/- 19.258 L(200 - 800) 
unmatched_Mass_stop =  256.66 +/- 43.941 L(1 - 800) 
unmatched_MassCBmean =  0.0000 C L(-INF - +INF) 
unmatched_MassCBsigma =  10.678 +/- 5.2629 L(0 - 500) 
unmatched_MassCBalpha = -0.0936291 +/- 0.046132 L(-10 - 10) 
unmatched_MassCBn =  19.972 +/- 11.216 L(0 - 20) 
unmatchedsel_njets = nomatch
N_matched =  0.95778 +/- 0.0021550 L(0 - 1) 

   [Observables]
