
   [Parameters]
matched_MassCBmean =  230.68 +/- 0.085025 L(180 - 800) 
matched_MassCBsigma =  5.0565 +/- 0.073075 L(1 - 100) 
matched_MassCBalpha1 =  1.0072 +/- 0.021842 L(0 - 20) 
matched_MassCBn1 =  19.999 +/- 3.4529 L(0 - 20) 
matched_MassCBalpha2 =  0.87573 +/- 0.018707 L(0 - 20) 
matched_MassCBn2 =  11.008 +/- 1.1775 L(0 - 20) 
matchsel_njets = match
unmatched_Mass_start = -50.3101 +/- 0.78557 L(-800 - -1) 
unmatched_Mass_turn =  258.19 +/- 8.3281 L(200 - 800) 
unmatched_Mass_stop =  2.2966 +/- 85.321 L(1 - 800) 
unmatched_MassCBmean =  0.0000 C L(-INF - +INF) 
unmatched_MassCBsigma =  18.812 +/- 1.0993 L(0 - 500) 
unmatched_MassCBalpha = -0.576327 +/- 0.10120 L(-10 - 10) 
unmatched_MassCBn =  8.4205 +/- 1.0802 L(0 - 20) 
unmatchedsel_njets = nomatch
N_matched =  0.74739 +/- 0.0040335 L(0 - 1) 

   [Observables]
