
   [Parameters]
matched_MassCBmean =  431.20 +/- 0.34819 L(200 - 800) 
matched_MassCBsigma =  22.536 +/- 0.61798 L(1 - 100) 
matched_MassCBalpha1 =  0.87914 +/- 0.039515 L(0 - 20) 
matched_MassCBn1 =  6.1967 +/- 0.70521 L(0 - 20) 
matched_MassCBalpha2 =  1.0591 +/- 0.043394 L(0 - 20) 
matched_MassCBn2 =  3.8065 +/- 0.24981 L(0 - 20) 
matchsel_njets = match
unmatched_Mass_start = -66.0258 +/- 12.270 L(-800 - -1) 
unmatched_Mass_turn =  264.75 +/- 10.754 L(200 - 800) 
unmatched_Mass_stop =  256.24 +/- 12.637 L(200 - 800) 
unmatched_MassCBmean =  0.0000 C L(-INF - +INF) 
unmatched_MassCBsigma =  7.2458 +/- 9.9635 L(0 - 500) 
unmatched_MassCBalpha = -0.164222 +/- 0.23276 L(-10 - 10) 
unmatched_MassCBn =  8.0770 +/- 4.8063 L(0 - 20) 
unmatchedsel_njets = nomatch
N_matched =  0.84568 +/- 0.0025208 L(0 - 1) 

   [Observables]
