
   [Parameters]
matched_MassCBmean =  479.55 +/- 0.47927 L(200 - 800) 
matched_MassCBsigma =  29.222 +/- 0.88206 L(1 - 100) 
matched_MassCBalpha1 =  0.85719 +/- 0.041827 L(0 - 20) 
matched_MassCBn1 =  5.5974 +/- 0.65252 L(0 - 20) 
matched_MassCBalpha2 =  0.92931 +/- 0.042525 L(0 - 20) 
matched_MassCBn2 =  6.2874 +/- 0.70829 L(0 - 20) 
matchsel_njets = match
unmatched_Mass_start = -9.72382 +/- 2.4331 L(-800 - -1) 
unmatched_Mass_turn =  248.62 +/- 1.7092 L(200 - 800) 
unmatched_Mass_stop =  340.82 +/- 10.816 L(1 - 800) 
unmatched_MassCBmean =  0.0000 C L(-INF - +INF) 
unmatched_MassCBsigma =  23.133 +/- 1.5537 L(0 - 500) 
unmatched_MassCBalpha = -0.494320 +/- 0.074080 L(-10 - 10) 
unmatched_MassCBn =  7.2594 +/- 2.9137 L(0 - 20) 
unmatchedsel_njets = nomatch
N_matched =  0.85226 +/- 0.0024884 L(0 - 1) 

   [Observables]
