
   [Parameters]
matched_MassCBmean =  328.52 +/- 0.21940 L(200 - 800) 
matched_MassCBsigma =  11.344 +/- 0.34465 L(1 - 100) 
matched_MassCBalpha1 =  1.1198 +/- 0.056891 L(0 - 20) 
matched_MassCBn1 =  5.8695 +/- 0.77508 L(0 - 20) 
matched_MassCBalpha2 =  0.90936 +/- 0.044370 L(0 - 20) 
matched_MassCBn2 =  6.1693 +/- 0.60602 L(0 - 20) 
matchsel_njets = match
unmatched_Mass_start = -64.8344 +/- 3.3046 L(-800 - -1) 
unmatched_Mass_turn =  260.43 +/- 2.5037 L(200 - 800) 
unmatched_Mass_stop =  152.21 +/- 5.0668 L(1 - 800) 
unmatched_MassCBmean =  0.0000 C L(-INF - +INF) 
unmatched_MassCBsigma =  17.650 +/- 2.9637 L(0 - 500) 
unmatched_MassCBalpha = -0.323889 +/- 0.054979 L(-10 - 10) 
unmatched_MassCBn =  19.998 +/- 13.258 L(0 - 20) 
unmatchedsel_njets = nomatch
N_matched =  0.74856 +/- 0.0037715 L(0 - 1) 

   [Observables]
