
   [Parameters]
matched_MassCBmean =  596.78 +/- 0.84648 L(200 - 800) 
matched_MassCBsigma =  57.846 +/- 0.86722 L(1 - 100) 
matched_MassCBalpha1 =  0.72583 +/- 0.018799 L(0 - 20) 
matched_MassCBn1 =  20.000 +/- 17.719 L(0 - 20) 
matched_MassCBalpha2 =  1.5969 +/- 0.080628 L(0 - 20) 
matched_MassCBn2 =  20.000 +/- 10.403 L(0 - 20) 
matchsel_njets = match
unmatched_Mass_start = -1.00989 +/- 15.258 L(-800 - -1) 
unmatched_Mass_turn =  267.94 +/- 26.577 L(200 - 800) 
unmatched_Mass_stop =  455.06 +/- 10.428 L(1 - 800) 
unmatched_MassCBmean =  0.0000 C L(-INF - +INF) 
unmatched_MassCBsigma =  42.279 +/- 16.860 L(0 - 500) 
unmatched_MassCBalpha = -0.871745 +/- 0.54461 L(-10 - 10) 
unmatched_MassCBn =  20.000 +/- 19.750 L(0 - 20) 
unmatchedsel_njets = nomatch
N_matched =  0.81971 +/- 0.0029194 L(0 - 1) 

   [Observables]
