
   [Parameters]
matched_MassCBmean =  432.43 +/- 0.37670 L(200 - 800) 
matched_MassCBsigma =  23.630 +/- 0.61409 L(1 - 100) 
matched_MassCBalpha1 =  1.0244 +/- 0.046825 L(0 - 20) 
matched_MassCBn1 =  5.0502 +/- 0.56222 L(0 - 20) 
matched_MassCBalpha2 =  1.0014 +/- 0.042109 L(0 - 20) 
matched_MassCBn2 =  4.3738 +/- 0.34721 L(0 - 20) 
matchsel_njets = match
unmatched_Mass_start = -80.4692 +/- 26.894 L(-800 - -1) 
unmatched_Mass_turn =  291.98 +/- 8.4153 L(200 - 800) 
unmatched_Mass_stop =  268.48 +/- 13.332 L(200 - 800) 
unmatched_MassCBmean =  0.0000 C L(-INF - +INF) 
unmatched_MassCBsigma =  26.738 +/- 12.977 L(0 - 500) 
unmatched_MassCBalpha = -0.506015 +/- 0.24134 L(-10 - 10) 
unmatched_MassCBn =  20.000 +/- 16.200 L(0 - 20) 
unmatchedsel_njets = nomatch
N_matched =  0.80451 +/- 0.0029998 L(0 - 1) 

   [Observables]
