
   [Parameters]
matched_MassCBmean =  531.27 +/- 0.69951 L(200 - 800) 
matched_MassCBsigma =  41.168 +/- 0.69970 L(1 - 100) 
matched_MassCBalpha1 =  0.83373 +/- 0.021245 L(0 - 20) 
matched_MassCBn1 =  17.571 +/- 4.1634 L(0 - 20) 
matched_MassCBalpha2 =  0.98710 +/- 0.029514 L(0 - 20) 
matched_MassCBn2 =  8.9561 +/- 1.7129 L(0 - 20) 
matchsel_njets = match
unmatched_Mass_start = -1.01313 +/- 795.88 L(-800 - -1) 
unmatched_Mass_turn =  264.57 +/- 10.126 L(200 - 800) 
unmatched_Mass_stop =  392.10 +/- 56.978 L(1 - 800) 
unmatched_MassCBmean =  0.0000 C L(-INF - +INF) 
unmatched_MassCBsigma =  36.871 +/- 24.478 L(0 - 500) 
unmatched_MassCBalpha = -0.301773 +/- 0.16665 L(-10 - 10) 
unmatched_MassCBn =  19.983 +/- 19.622 L(0 - 20) 
unmatchedsel_njets = nomatch
N_matched =  0.95426 +/- 0.0020541 L(0 - 1) 

   [Observables]
