
   [Parameters]
matched_MassCBmean =  302.50 +/- 0.20192 L(200 - 800) 
matched_MassCBsigma =  9.4323 +/- 0.31497 L(1 - 100) 
matched_MassCBalpha1 =  1.0666 +/- 0.058688 L(0 - 20) 
matched_MassCBn1 =  6.2437 +/- 0.94640 L(0 - 20) 
matched_MassCBalpha2 =  0.89744 +/- 0.050823 L(0 - 20) 
matched_MassCBn2 =  8.1194 +/- 1.2163 L(0 - 20) 
matchsel_njets = match
unmatched_Mass_start = -53.1121 +/- 7.2052 L(-800 - -1) 
unmatched_Mass_turn =  241.63 +/- 4.6640 L(200 - 800) 
unmatched_Mass_stop =  130.74 +/- 9.3888 L(1 - 800) 
unmatched_MassCBmean =  0.0000 C L(-INF - +INF) 
unmatched_MassCBsigma =  9.6189 +/- 2.4718 L(0 - 500) 
unmatched_MassCBalpha = -0.184363 +/- 0.047897 L(-10 - 10) 
unmatched_MassCBn =  20.000 +/- 16.941 L(0 - 20) 
unmatchedsel_njets = nomatch
N_matched =  0.71392 +/- 0.0041588 L(0 - 1) 

   [Observables]
