
   [Parameters]
matched_MassCBmean =  482.10 +/- 0.53582 L(200 - 800) 
matched_MassCBsigma =  30.251 +/- 0.56385 L(1 - 100) 
matched_MassCBalpha1 =  0.91020 +/- 0.025033 L(0 - 20) 
matched_MassCBn1 =  7.7078 +/- 0.91317 L(0 - 20) 
matched_MassCBalpha2 =  0.93697 +/- 0.025500 L(0 - 20) 
matched_MassCBn2 =  5.4597 +/- 0.47532 L(0 - 20) 
matchsel_njets = match
unmatched_Mass_start = -32.0391 +/- 117.59 L(-800 - -1) 
unmatched_Mass_turn =  279.49 +/- 50.385 L(200 - 800) 
unmatched_Mass_stop =  349.74 +/- 21.688 L(1 - 800) 
unmatched_MassCBmean =  0.0000 C L(-INF - +INF) 
unmatched_MassCBsigma =  22.509 +/- 10.615 L(0 - 500) 
unmatched_MassCBalpha = -0.319769 +/- 0.082668 L(-10 - 10) 
unmatched_MassCBn =  19.992 +/- 16.794 L(0 - 20) 
unmatchedsel_njets = nomatch
N_matched =  0.95472 +/- 0.0020598 L(0 - 1) 

   [Observables]
