
   [Parameters]
matched_MassCBmean =  404.83 +/- 0.16862 L(200 - 800) 
matched_MassCBsigma =  20.512 +/- 0.15318 L(1 - 100) 
matched_MassCBalpha1 =  1.1375 +/- 0.011866 L(0 - 20) 
matched_MassCBn1 =  3.8771 +/- 0.11740 L(0 - 20) 
matched_MassCBalpha2 =  1.0891 +/- 0.010754 L(0 - 20) 
matched_MassCBn2 =  4.1528 +/- 0.10285 L(0 - 20) 
matchsel_njets = match
unmatched_Mass_start = -59.0274 +/- 19.020 L(-800 - -1) 
unmatched_Mass_turn =  254.53 +/- 12.521 L(200 - 800) 
unmatched_Mass_stop =  227.07 +/- 5.4636 L(1 - 800) 
unmatched_MassCBmean =  0.0000 C L(-INF - +INF) 
unmatched_MassCBsigma =  3.8687 +/- 0.20344 L(0 - 500) 
unmatched_MassCBalpha = -0.0736381 +/- 0.0022061 L(-10 - 10) 
unmatched_MassCBn =  20.000 +/- 3.4651 L(0 - 20) 
unmatchedsel_njets = nomatch
N_matched =  0.83803 +/- 0.0019125 L(0 - 1) 

   [Observables]
