
   [Parameters]
matched_MassCBmean =  504.25 +/- 0.42640 L(200 - 800) 
matched_MassCBsigma =  31.695 +/- 0.44109 L(1 - 100) 
matched_MassCBalpha1 =  0.76780 +/- 0.014624 L(0 - 20) 
matched_MassCBn1 =  5.5093 +/- 0.34985 L(0 - 20) 
matched_MassCBalpha2 =  0.85411 +/- 0.017234 L(0 - 20) 
matched_MassCBn2 =  10.894 +/- 1.3041 L(0 - 20) 
matchsel_njets = match
unmatched_Mass_start = -29.9045 +/- 29.868 L(-800 - -1) 
unmatched_Mass_turn =  262.54 +/- 18.309 L(200 - 800) 
unmatched_Mass_stop =  345.93 +/- 15.678 L(1 - 800) 
unmatched_MassCBmean =  0.0000 C L(-INF - +INF) 
unmatched_MassCBsigma =  22.316 +/- 2.5144 L(0 - 500) 
unmatched_MassCBalpha = -0.424657 +/- 0.060040 L(-10 - 10) 
unmatched_MassCBn =  17.555 +/- 4.1892 L(0 - 20) 
unmatchedsel_njets = nomatch
N_matched =  0.84664 +/- 0.0022712 L(0 - 1) 

   [Observables]
