
   [Parameters]
matched_MassCBmean =  230.83 +/- 0.20618 L(180 - 800) 
matched_MassCBsigma =  5.3365 +/- 0.35921 L(1 - 100) 
matched_MassCBalpha1 =  0.98209 +/- 0.086837 L(0 - 20) 
matched_MassCBn1 =  20.000 +/- 14.816 L(0 - 20) 
matched_MassCBalpha2 =  0.99776 +/- 0.088083 L(0 - 20) 
matched_MassCBn2 =  20.000 +/- 3.8307 L(0 - 20) 
matchsel_njets = match
unmatched_Mass_start = -70.6871 +/- 15.355 L(-800 - -1) 
unmatched_Mass_turn =  256.21 +/- 3.3558 L(200 - 800) 
unmatched_Mass_stop =  1.0042 +/- 17.629 L(1 - 800) 
unmatched_MassCBmean =  0.0000 C L(-INF - +INF) 
unmatched_MassCBsigma =  9.8196 +/- 12.973 L(0 - 500) 
unmatched_MassCBalpha = -0.299582 +/- 0.39254 L(-10 - 10) 
unmatched_MassCBn =  4.2124 +/- 1.7495 L(0 - 20) 
unmatchedsel_njets = nomatch
N_matched =  0.91449 +/- 0.0061215 L(0 - 1) 

   [Observables]
