
   [Parameters]
matched_MassCBmean =  598.67 +/- 1.2283 L(200 - 800) 
matched_MassCBsigma =  55.949 +/- 2.1111 L(1 - 100) 
matched_MassCBalpha1 =  0.73343 +/- 0.033206 L(0 - 20) 
matched_MassCBn1 =  20.000 +/- 12.607 L(0 - 20) 
matched_MassCBalpha2 =  1.1038 +/- 0.067031 L(0 - 20) 
matched_MassCBn2 =  20.000 +/- 13.988 L(0 - 20) 
matchsel_njets = match
unmatched_Mass_start = -1.00009 +/- 8.1214 L(-800 - -1) 
unmatched_Mass_turn =  266.90 +/- 7.7329 L(200 - 800) 
unmatched_Mass_stop =  485.67 +/- 29.757 L(1 - 800) 
unmatched_MassCBmean =  0.0000 C L(-INF - +INF) 
unmatched_MassCBsigma =  31.573 +/- 6.4687 L(0 - 500) 
unmatched_MassCBalpha = -0.280382 +/- 0.077090 L(-10 - 10) 
unmatched_MassCBn =  19.975 +/- 10.698 L(0 - 20) 
unmatchedsel_njets = nomatch
N_matched =  0.95528 +/- 0.0022586 L(0 - 1) 

   [Observables]
