
   [Parameters]
matched_MassCBmean =  250.98 +/- 0.21550 L(200 - 800) 
matched_MassCBsigma =  6.3815 +/- 0.33111 L(1 - 100) 
matched_MassCBalpha1 =  0.99125 +/- 0.070138 L(0 - 20) 
matched_MassCBn1 =  20.000 +/- 13.262 L(0 - 20) 
matched_MassCBalpha2 =  0.99942 +/- 0.082745 L(0 - 20) 
matched_MassCBn2 =  7.8156 +/- 1.9494 L(0 - 20) 
matchsel_njets = match
unmatched_Mass_start = -87.7018 +/- 12.054 L(-800 - -1) 
unmatched_Mass_turn =  268.80 +/- 2.0134 L(200 - 800) 
unmatched_Mass_stop =  19.655 +/- 2.0916 L(1 - 800) 
unmatched_MassCBmean =  0.0000 C L(-INF - +INF) 
unmatched_MassCBsigma =  5.1688 +/- 6.4172 L(0 - 500) 
unmatched_MassCBalpha = -0.243066 +/- 0.23563 L(-10 - 10) 
unmatched_MassCBn =  2.7532 +/- 0.77339 L(0 - 20) 
unmatchedsel_njets = nomatch
N_matched =  0.91491 +/- 0.0053327 L(0 - 1) 

   [Observables]
