
   [Parameters]
matched_MassCBmean =  276.76 +/- 0.10098 L(200 - 800) 
matched_MassCBsigma =  7.6850 +/- 0.096404 L(1 - 100) 
matched_MassCBalpha1 =  1.0431 +/- 0.022928 L(0 - 20) 
matched_MassCBn1 =  14.245 +/- 2.2463 L(0 - 20) 
matched_MassCBalpha2 =  0.92923 +/- 0.018036 L(0 - 20) 
matched_MassCBn2 =  10.387 +/- 1.0080 L(0 - 20) 
matchsel_njets = match
unmatched_Mass_start = -45.9142 +/- 15.772 L(-800 - -1) 
unmatched_Mass_turn =  247.56 +/- 8.2604 L(200 - 800) 
unmatched_Mass_stop =  102.72 +/- 4.6763 L(1 - 800) 
unmatched_MassCBmean =  0.0000 C L(-INF - +INF) 
unmatched_MassCBsigma =  10.088 +/- 1.3233 L(0 - 500) 
unmatched_MassCBalpha = -0.315619 +/- 0.012836 L(-10 - 10) 
unmatched_MassCBn =  8.6181 +/- 1.8118 L(0 - 20) 
unmatchedsel_njets = nomatch
N_matched =  0.78945 +/- 0.0030419 L(0 - 1) 

   [Observables]
