
   [Parameters]
matched_MassCBmean =  380.06 +/- 0.22186 L(200 - 800) 
matched_MassCBsigma =  16.051 +/- 0.32722 L(1 - 100) 
matched_MassCBalpha1 =  1.0680 +/- 0.036829 L(0 - 20) 
matched_MassCBn1 =  4.2235 +/- 0.31126 L(0 - 20) 
matched_MassCBalpha2 =  1.0636 +/- 0.032779 L(0 - 20) 
matched_MassCBn2 =  4.0938 +/- 0.21489 L(0 - 20) 
matchsel_njets = match
unmatched_Mass_start = -60.6946 +/- 22.965 L(-800 - -1) 
unmatched_Mass_turn =  262.89 +/- 13.986 L(200 - 800) 
unmatched_Mass_stop =  195.64 +/- 15.284 L(1 - 800) 
unmatched_MassCBmean =  0.0000 C L(-INF - +INF) 
unmatched_MassCBsigma =  7.4960 +/- 1.1129 L(0 - 500) 
unmatched_MassCBalpha = -0.157700 +/- 0.021461 L(-10 - 10) 
unmatched_MassCBn =  19.699 +/- 15.098 L(0 - 20) 
unmatchedsel_njets = nomatch
N_matched =  0.83582 +/- 0.0026173 L(0 - 1) 

   [Observables]
