
   [Parameters]
matched_MassCBmean =  578.31 +/- 0.58364 L(200 - 800) 
matched_MassCBsigma =  51.694 +/- 0.51543 L(1 - 100) 
matched_MassCBalpha1 =  0.89170 +/- 0.012777 L(0 - 20) 
matched_MassCBn1 =  8.8454 +/- 0.80512 L(0 - 20) 
matched_MassCBalpha2 =  1.1331 +/- 0.022560 L(0 - 20) 
matched_MassCBn2 =  9.9488 +/- 2.0467 L(0 - 20) 
matchsel_njets = match
unmatched_Mass_start = -1.02348 +/- 597.80 L(-800 - -1) 
unmatched_Mass_turn =  271.54 +/- 140.34 L(200 - 800) 
unmatched_Mass_stop =  450.84 +/- 20.814 L(1 - 800) 
unmatched_MassCBmean =  0.0000 C L(-INF - +INF) 
unmatched_MassCBsigma =  32.334 +/- 8.3861 L(0 - 500) 
unmatched_MassCBalpha = -0.242668 +/- 0.041341 L(-10 - 10) 
unmatched_MassCBn =  20.000 +/- 16.135 L(0 - 20) 
unmatchedsel_njets = nomatch
N_matched =  0.95478 +/- 0.0015756 L(0 - 1) 

   [Observables]
