
   [Parameters]
matched_MassCBmean =  380.58 +/- 0.27150 L(200 - 800) 
matched_MassCBsigma =  16.811 +/- 0.44139 L(1 - 100) 
matched_MassCBalpha1 =  1.2054 +/- 0.058685 L(0 - 20) 
matched_MassCBn1 =  3.7802 +/- 0.36749 L(0 - 20) 
matched_MassCBalpha2 =  0.95708 +/- 0.036794 L(0 - 20) 
matched_MassCBn2 =  4.7266 +/- 0.32321 L(0 - 20) 
matchsel_njets = match
unmatched_Mass_start = -88.2221 +/- 7.4084 L(-800 - -1) 
unmatched_Mass_turn =  290.01 +/- 5.0136 L(200 - 800) 
unmatched_Mass_stop =  182.95 +/- 9.6521 L(1 - 800) 
unmatched_MassCBmean =  0.0000 C L(-INF - +INF) 
unmatched_MassCBsigma =  21.876 +/- 6.1876 L(0 - 500) 
unmatched_MassCBalpha = -0.390683 +/- 0.11460 L(-10 - 10) 
unmatched_MassCBn =  20.000 +/- 12.839 L(0 - 20) 
unmatchedsel_njets = nomatch
N_matched =  0.78890 +/- 0.0032472 L(0 - 1) 

   [Observables]
