
   [Parameters]
matched_MassCBmean =  530.74 +/- 0.30780 L(200 - 800) 
matched_MassCBsigma =  44.783 +/- 0.25007 L(1 - 100) 
matched_MassCBalpha1 =  0.98833 +/- 0.0084194 L(0 - 20) 
matched_MassCBn1 =  6.2626 +/- 0.25390 L(0 - 20) 
matched_MassCBalpha2 =  1.1185 +/- 0.011000 L(0 - 20) 
matched_MassCBn2 =  20.000 +/- 1.5900 L(0 - 20) 
matchsel_njets = match
unmatched_Mass_start = -1.00037 +/- 64.180 L(-800 - -1) 
unmatched_Mass_turn =  267.36 +/- 60.465 L(200 - 800) 
unmatched_Mass_stop =  407.67 +/- 11.152 L(1 - 800) 
unmatched_MassCBmean =  0.0000 C L(-INF - +INF) 
unmatched_MassCBsigma =  45.286 +/- 3.7672 L(0 - 500) 
unmatched_MassCBalpha = -0.855629 +/- 0.052862 L(-10 - 10) 
unmatched_MassCBn =  19.997 +/- 14.157 L(0 - 20) 
unmatchedsel_njets = nomatch
N_matched =  0.82661 +/- 0.0017090 L(0 - 1) 

   [Observables]
