
   [Parameters]
matched_MassCBmean =  354.85 +/- 0.23257 L(200 - 800) 
matched_MassCBsigma =  12.905 +/- 0.40501 L(1 - 100) 
matched_MassCBalpha1 =  1.0822 +/- 0.054864 L(0 - 20) 
matched_MassCBn1 =  4.6910 +/- 0.48217 L(0 - 20) 
matched_MassCBalpha2 =  0.92834 +/- 0.043207 L(0 - 20) 
matched_MassCBn2 =  5.6118 +/- 0.46060 L(0 - 20) 
matchsel_njets = match
unmatched_Mass_start = -94.0400 +/- 2.5334 L(-800 - -1) 
unmatched_Mass_turn =  277.22 +/- 2.1769 L(200 - 800) 
unmatched_Mass_stop =  152.57 +/- 8.9616 L(1 - 800) 
unmatched_MassCBmean =  0.0000 C L(-INF - +INF) 
unmatched_MassCBsigma =  8.0162 +/- 3.0653 L(0 - 500) 
unmatched_MassCBalpha = -0.145726 +/- 0.056459 L(-10 - 10) 
unmatched_MassCBn =  20.000 +/- 13.446 L(0 - 20) 
unmatchedsel_njets = nomatch
N_matched =  0.77043 +/- 0.0034540 L(0 - 1) 

   [Observables]
