
   [Parameters]
matched_MassCBmean =  576.04 +/- 0.45006 L(200 - 800) 
matched_MassCBsigma =  50.517 +/- 0.38405 L(1 - 100) 
matched_MassCBalpha1 =  0.79184 +/- 0.0086585 L(0 - 20) 
matched_MassCBn1 =  9.1786 +/- 0.66713 L(0 - 20) 
matched_MassCBalpha2 =  1.2519 +/- 0.020086 L(0 - 20) 
matched_MassCBn2 =  19.997 +/- 1.2837 L(0 - 20) 
matchsel_njets = match
unmatched_Mass_start = -1.07955 +/- 108.18 L(-800 - -1) 
unmatched_Mass_turn =  267.72 +/- 63.061 L(200 - 800) 
unmatched_Mass_stop =  457.16 +/- 19.218 L(1 - 800) 
unmatched_MassCBmean =  0.0000 C L(-INF - +INF) 
unmatched_MassCBsigma =  45.657 +/- 4.7156 L(0 - 500) 
unmatched_MassCBalpha = -1.19164 +/- 0.17891 L(-10 - 10) 
unmatched_MassCBn =  7.8540 +/- 5.2052 L(0 - 20) 
unmatchedsel_njets = nomatch
N_matched =  0.82687 +/- 0.0020800 L(0 - 1) 

   [Observables]
