
   [Parameters]
matched_MassCBmean =  432.14 +/- 0.40367 L(200 - 800) 
matched_MassCBsigma =  23.403 +/- 0.41974 L(1 - 100) 
matched_MassCBalpha1 =  0.99616 +/- 0.026314 L(0 - 20) 
matched_MassCBn1 =  6.1578 +/- 0.59787 L(0 - 20) 
matched_MassCBalpha2 =  1.0170 +/- 0.024997 L(0 - 20) 
matched_MassCBn2 =  3.6875 +/- 0.19342 L(0 - 20) 
matchsel_njets = match
unmatched_Mass_start = -1.13431 +/- 534.86 L(-800 - -1) 
unmatched_Mass_turn =  315.88 +/- 61.371 L(200 - 800) 
unmatched_Mass_stop =  200.25 +/- 22.096 L(200 - 800) 
unmatched_MassCBmean =  0.0000 C L(-INF - +INF) 
unmatched_MassCBsigma =  57.173 +/- 26.856 L(0 - 500) 
unmatched_MassCBalpha = -0.673097 +/- 0.21613 L(-10 - 10) 
unmatched_MassCBn =  6.0150 +/- 4.9586 L(0 - 20) 
unmatchedsel_njets = nomatch
N_matched =  0.95057 +/- 0.0022251 L(0 - 1) 

   [Observables]
