
   [Parameters]
matched_MassCBmean =  571.72 +/- 0.96245 L(200 - 800) 
matched_MassCBsigma =  50.449 +/- 1.7177 L(1 - 100) 
matched_MassCBalpha1 =  0.70893 +/- 0.040647 L(0 - 20) 
matched_MassCBn1 =  10.314 +/- 2.5970 L(0 - 20) 
matched_MassCBalpha2 =  1.1254 +/- 0.054526 L(0 - 20) 
matched_MassCBn2 =  20.000 +/- 3.0156 L(0 - 20) 
matchsel_njets = match
unmatched_Mass_start = -1.52703 +/- 1.9500 L(-800 - -1) 
unmatched_Mass_turn =  259.74 +/- 1.3392 L(200 - 800) 
unmatched_Mass_stop =  262.43 +/- 12.403 L(1 - 800) 
unmatched_MassCBmean =  0.0000 C L(-INF - +INF) 
unmatched_MassCBsigma =  33.422 +/- 1.8851 L(0 - 500) 
unmatched_MassCBalpha = -0.333588 +/- 0.025200 L(-10 - 10) 
unmatched_MassCBn =  20.000 +/- 13.198 L(0 - 20) 
unmatchedsel_njets = nomatch
N_matched =  0.84838 +/- 0.0025645 L(0 - 1) 

   [Observables]
