
   [Parameters]
matched_MassCBmean =  406.37 +/- 0.46114 L(200 - 800) 
matched_MassCBsigma =  19.966 +/- 0.84193 L(1 - 100) 
matched_MassCBalpha1 =  1.0953 +/- 0.088541 L(0 - 20) 
matched_MassCBn1 =  5.3373 +/- 1.0196 L(0 - 20) 
matched_MassCBalpha2 =  1.0518 +/- 0.064960 L(0 - 20) 
matched_MassCBn2 =  3.3405 +/- 0.28718 L(0 - 20) 
matchsel_njets = match
unmatched_Mass_start = -15.7740 +/- 10.781 L(-800 - -1) 
unmatched_Mass_turn =  311.38 +/- 18.119 L(200 - 800) 
unmatched_Mass_stop =  192.43 +/- 27.227 L(1 - 800) 
unmatched_MassCBmean =  0.0000 C L(-INF - +INF) 
unmatched_MassCBsigma =  50.723 +/- 9.8284 L(0 - 500) 
unmatched_MassCBalpha = -0.644266 +/- 0.32925 L(-10 - 10) 
unmatched_MassCBn =  6.6142 +/- 13.294 L(0 - 20) 
unmatchedsel_njets = nomatch
N_matched =  0.94155 +/- 0.0027862 L(0 - 1) 

   [Observables]
