
   [Parameters]
matched_MassCBmean =  251.23 +/- 0.11500 L(200 - 800) 
matched_MassCBsigma =  5.0805 +/- 0.28176 L(1 - 100) 
matched_MassCBalpha1 =  0.81623 +/- 0.050842 L(0 - 20) 
matched_MassCBn1 =  20.000 +/- 2.0520 L(0 - 20) 
matched_MassCBalpha2 =  0.70699 +/- 0.043095 L(0 - 20) 
matched_MassCBn2 =  19.999 +/- 12.334 L(0 - 20) 
matchsel_njets = match
unmatched_Mass_start = -34.6933 +/- 1.1680 L(-800 - -1) 
unmatched_Mass_turn =  236.41 +/- 0.92925 L(200 - 800) 
unmatched_Mass_stop =  85.595 +/- 5.8720 L(1 - 800) 
unmatched_MassCBmean =  0.0000 C L(-INF - +INF) 
unmatched_MassCBsigma =  11.928 +/- 1.1165 L(0 - 500) 
unmatched_MassCBalpha = -0.411056 +/- 0.061596 L(-10 - 10) 
unmatched_MassCBn =  8.0985 +/- 2.3134 L(0 - 20) 
unmatchedsel_njets = nomatch
N_matched =  0.77188 +/- 0.0039618 L(0 - 1) 

   [Observables]
