
   [Parameters]
matched_MassCBmean =  482.98 +/- 0.50483 L(200 - 800) 
matched_MassCBsigma =  32.448 +/- 0.85817 L(1 - 100) 
matched_MassCBalpha1 =  1.0568 +/- 0.052986 L(0 - 20) 
matched_MassCBn1 =  4.5311 +/- 0.53764 L(0 - 20) 
matched_MassCBalpha2 =  0.96764 +/- 0.045161 L(0 - 20) 
matched_MassCBn2 =  8.0500 +/- 1.3041 L(0 - 20) 
matchsel_njets = match
unmatched_Mass_start = -60.5302 +/- 36.871 L(-800 - -1) 
unmatched_Mass_turn =  275.75 +/- 12.900 L(200 - 800) 
unmatched_Mass_stop =  349.17 +/- 21.509 L(1 - 800) 
unmatched_MassCBmean =  0.0000 C L(-INF - +INF) 
unmatched_MassCBsigma =  22.648 +/- 10.365 L(0 - 500) 
unmatched_MassCBalpha = -0.441344 +/- 0.20947 L(-10 - 10) 
unmatched_MassCBn =  20.000 +/- 19.579 L(0 - 20) 
unmatchedsel_njets = nomatch
N_matched =  0.82055 +/- 0.0028389 L(0 - 1) 

   [Observables]
