
   [Parameters]
matched_MassCBmean =  596.15 +/- 0.39355 L(200 - 800) 
matched_MassCBsigma =  53.617 +/- 0.30361 L(1 - 100) 
matched_MassCBalpha1 =  0.60757 +/- 0.0044465 L(0 - 20) 
matched_MassCBn1 =  17.937 +/- 1.8336 L(0 - 20) 
matched_MassCBalpha2 =  1.2157 +/- 0.015998 L(0 - 20) 
matched_MassCBn2 =  19.999 +/- 1.8421 L(0 - 20) 
matchsel_njets = match
unmatched_Mass_start = -1.00091 +/- 83.245 L(-800 - -1) 
unmatched_Mass_turn =  255.64 +/- 63.400 L(200 - 800) 
unmatched_Mass_stop =  352.15 +/- 8.9871 L(1 - 800) 
unmatched_MassCBmean =  0.0000 C L(-INF - +INF) 
unmatched_MassCBsigma =  34.514 +/- 2.5282 L(0 - 500) 
unmatched_MassCBalpha = -0.484693 +/- 0.013721 L(-10 - 10) 
unmatched_MassCBn =  8.3150 +/- 1.4809 L(0 - 20) 
unmatchedsel_njets = nomatch
N_matched =  0.84007 +/- 0.0015860 L(0 - 1) 

   [Observables]
