
   [Parameters]
matched_MassCBmean =  328.36 +/- 0.29166 L(200 - 800) 
matched_MassCBsigma =  11.555 +/- 0.41240 L(1 - 100) 
matched_MassCBalpha1 =  1.1029 +/- 0.068389 L(0 - 20) 
matched_MassCBn1 =  6.2443 +/- 1.1070 L(0 - 20) 
matched_MassCBalpha2 =  0.95631 +/- 0.054733 L(0 - 20) 
matched_MassCBn2 =  5.9777 +/- 0.75891 L(0 - 20) 
matchsel_njets = match
unmatched_Mass_start = -125.588 +/- 71.462 L(-800 - -1) 
unmatched_Mass_turn =  326.65 +/- 51.561 L(200 - 800) 
unmatched_Mass_stop =  73.948 +/- 84.256 L(1 - 800) 
unmatched_MassCBmean =  0.0000 C L(-INF - +INF) 
unmatched_MassCBsigma =  33.543 +/- 8.8193 L(0 - 500) 
unmatched_MassCBalpha = -0.513410 +/- 0.14654 L(-10 - 10) 
unmatched_MassCBn =  12.913 +/- 15.480 L(0 - 20) 
unmatchedsel_njets = nomatch
N_matched =  0.93393 +/- 0.0033643 L(0 - 1) 

   [Observables]
