
   [Parameters]
matched_MassCBmean =  210.37 +/- 0.087764 L(180 - 800) 
matched_MassCBsigma =  4.3452 +/- 0.066475 L(1 - 100) 
matched_MassCBalpha1 =  1.0258 +/- 0.026819 L(0 - 20) 
matched_MassCBn1 =  20.000 +/- 3.7274 L(0 - 20) 
matched_MassCBalpha2 =  0.99351 +/- 0.023385 L(0 - 20) 
matched_MassCBn2 =  12.063 +/- 1.9303 L(0 - 20) 
matchsel_njets = match
unmatched_Mass_start = -67.3066 +/- 34.837 L(-800 - -1) 
unmatched_Mass_turn =  249.99 +/- 132.12 L(200 - 800) 
unmatched_Mass_stop =  1.0002 +/- 522.15 L(1 - 800) 
unmatched_MassCBmean =  0.0000 C L(-INF - +INF) 
unmatched_MassCBsigma =  23.682 +/- 1.3377 L(0 - 500) 
unmatched_MassCBalpha = -0.590565 +/- 0.033109 L(-10 - 10) 
unmatched_MassCBn =  19.997 +/- 17.917 L(0 - 20) 
unmatchedsel_njets = nomatch
N_matched =  0.89503 +/- 0.0043036 L(0 - 1) 

   [Observables]
