
   [Parameters]
matched_MassCBmean =  407.19 +/- 0.32848 L(200 - 800) 
matched_MassCBsigma =  19.359 +/- 0.55575 L(1 - 100) 
matched_MassCBalpha1 =  1.0410 +/- 0.047918 L(0 - 20) 
matched_MassCBn1 =  4.2670 +/- 0.40019 L(0 - 20) 
matched_MassCBalpha2 =  0.93223 +/- 0.039041 L(0 - 20) 
matched_MassCBn2 =  4.2965 +/- 0.28541 L(0 - 20) 
matchsel_njets = match
unmatched_Mass_start = -89.1258 +/- 4.6030 L(-800 - -1) 
unmatched_Mass_turn =  278.29 +/- 3.7798 L(200 - 800) 
unmatched_Mass_stop =  227.74 +/- 7.4639 L(1 - 800) 
unmatched_MassCBmean =  0.0000 C L(-INF - +INF) 
unmatched_MassCBsigma =  12.311 +/- 4.0351 L(0 - 500) 
unmatched_MassCBalpha = -0.220529 +/- 0.072717 L(-10 - 10) 
unmatched_MassCBn =  20.000 +/- 13.206 L(0 - 20) 
unmatchedsel_njets = nomatch
N_matched =  0.79688 +/- 0.0030873 L(0 - 1) 

   [Observables]
