
   [Parameters]
matched_MassCBmean =  554.38 +/- 1.0709 L(200 - 800) 
matched_MassCBsigma =  44.918 +/- 1.8604 L(1 - 100) 
matched_MassCBalpha1 =  0.82206 +/- 0.057182 L(0 - 20) 
matched_MassCBn1 =  9.9732 +/- 3.0535 L(0 - 20) 
matched_MassCBalpha2 =  1.0024 +/- 0.083491 L(0 - 20) 
matched_MassCBn2 =  10.450 +/- 4.9629 L(0 - 20) 
matchsel_njets = match
unmatched_Mass_start = -1.00000 +/- 543.22 L(-800 - -1) 
unmatched_Mass_turn =  264.37 +/- 3.8738 L(200 - 800) 
unmatched_Mass_stop =  430.07 +/- 215.38 L(1 - 800) 
unmatched_MassCBmean =  0.0000 C L(-INF - +INF) 
unmatched_MassCBsigma =  32.720 +/- 27.071 L(0 - 500) 
unmatched_MassCBalpha = -0.326201 +/- 0.57455 L(-10 - 10) 
unmatched_MassCBn =  20.000 +/- 18.369 L(0 - 20) 
unmatchedsel_njets = nomatch
N_matched =  0.95559 +/- 0.0023319 L(0 - 1) 

   [Observables]
