
   [Parameters]
matched_MassCBmean =  302.47 +/- 0.14953 L(200 - 800) 
matched_MassCBsigma =  8.6587 +/- 0.11830 L(1 - 100) 
matched_MassCBalpha1 =  0.93879 +/- 0.018861 L(0 - 20) 
matched_MassCBn1 =  11.723 +/- 1.5352 L(0 - 20) 
matched_MassCBalpha2 =  0.91263 +/- 0.016805 L(0 - 20) 
matched_MassCBn2 =  6.0690 +/- 0.34051 L(0 - 20) 
matchsel_njets = match
unmatched_Mass_start = -3.95769 +/- 143.00 L(-800 - -1) 
unmatched_Mass_turn =  213.06 +/- 387.36 L(200 - 800) 
unmatched_Mass_stop =  170.41 +/- 42.924 L(1 - 800) 
unmatched_MassCBmean =  0.0000 C L(-INF - +INF) 
unmatched_MassCBsigma =  7.4116 +/- 1.1261 L(0 - 500) 
unmatched_MassCBalpha = -0.123342 +/- 0.016016 L(-10 - 10) 
unmatched_MassCBn =  20.000 +/- 17.111 L(0 - 20) 
unmatchedsel_njets = nomatch
N_matched =  0.92533 +/- 0.0028052 L(0 - 1) 

   [Observables]
