
   [Parameters]
matched_MassCBmean =  527.82 +/- 0.67579 L(200 - 800) 
matched_MassCBsigma =  37.826 +/- 1.1648 L(1 - 100) 
matched_MassCBalpha1 =  0.70958 +/- 0.032998 L(0 - 20) 
matched_MassCBn1 =  8.9369 +/- 1.5768 L(0 - 20) 
matched_MassCBalpha2 =  0.90970 +/- 0.041538 L(0 - 20) 
matched_MassCBn2 =  16.453 +/- 4.4567 L(0 - 20) 
matchsel_njets = match
unmatched_Mass_start = -9.52261 +/- 10.971 L(-800 - -1) 
unmatched_Mass_turn =  261.41 +/- 13.726 L(200 - 800) 
unmatched_Mass_stop =  391.63 +/- 14.421 L(1 - 800) 
unmatched_MassCBmean =  0.0000 C L(-INF - +INF) 
unmatched_MassCBsigma =  31.015 +/- 4.4512 L(0 - 500) 
unmatched_MassCBalpha = -1.24685 +/- 0.82937 L(-10 - 10) 
unmatched_MassCBn =  2.6607 +/- 2.1131 L(0 - 20) 
unmatchedsel_njets = nomatch
N_matched =  0.85528 +/- 0.0025439 L(0 - 1) 

   [Observables]
