
   [Parameters]
matched_MassCBmean =  276.76 +/- 0.12572 L(200 - 800) 
matched_MassCBsigma =  7.0241 +/- 0.10733 L(1 - 100) 
matched_MassCBalpha1 =  0.86030 +/- 0.019456 L(0 - 20) 
matched_MassCBn1 =  16.789 +/- 3.0746 L(0 - 20) 
matched_MassCBalpha2 =  0.79685 +/- 0.016845 L(0 - 20) 
matched_MassCBn2 =  10.707 +/- 1.0937 L(0 - 20) 
matchsel_njets = match
unmatched_Mass_start = -64.2287 +/- 24.832 L(-800 - -1) 
unmatched_Mass_turn =  253.66 +/- 11.202 L(200 - 800) 
unmatched_Mass_stop =  105.68 +/- 8.6521 L(1 - 800) 
unmatched_MassCBmean =  0.0000 C L(-INF - +INF) 
unmatched_MassCBsigma =  17.590 +/- 1.8925 L(0 - 500) 
unmatched_MassCBalpha = -0.520643 +/- 0.020287 L(-10 - 10) 
unmatched_MassCBn =  5.4376 +/- 0.60409 L(0 - 20) 
unmatchedsel_njets = nomatch
N_matched =  0.70041 +/- 0.0038496 L(0 - 1) 

   [Observables]
