
   [Parameters]
matched_MassCBmean =  555.43 +/- 0.38245 L(200 - 800) 
matched_MassCBsigma =  42.549 +/- 0.27799 L(1 - 100) 
matched_MassCBalpha1 =  0.68246 +/- 0.0058237 L(0 - 20) 
matched_MassCBn1 =  20.000 +/- 2.8471 L(0 - 20) 
matched_MassCBalpha2 =  0.98413 +/- 0.010808 L(0 - 20) 
matched_MassCBn2 =  20.000 +/- 0.95058 L(0 - 20) 
matchsel_njets = match
unmatched_Mass_start = -1.00589 +/- 74.053 L(-800 - -1) 
unmatched_Mass_turn =  271.80 +/- 63.473 L(200 - 800) 
unmatched_Mass_stop =  422.69 +/- 12.745 L(1 - 800) 
unmatched_MassCBmean =  0.0000 C L(-INF - +INF) 
unmatched_MassCBsigma =  50.779 +/- 5.2761 L(0 - 500) 
unmatched_MassCBalpha = -1.11320 +/- 0.11946 L(-10 - 10) 
unmatched_MassCBn =  20.000 +/- 14.412 L(0 - 20) 
unmatchedsel_njets = nomatch
N_matched =  0.82159 +/- 0.0019542 L(0 - 1) 

   [Observables]
