
   [Parameters]
matched_MassCBmean =  553.17 +/- 0.83116 L(200 - 800) 
matched_MassCBsigma =  39.139 +/- 1.2430 L(1 - 100) 
matched_MassCBalpha1 =  0.59267 +/- 0.027544 L(0 - 20) 
matched_MassCBn1 =  15.333 +/- 4.3478 L(0 - 20) 
matched_MassCBalpha2 =  0.90640 +/- 0.039346 L(0 - 20) 
matched_MassCBn2 =  19.999 +/- 18.407 L(0 - 20) 
matchsel_njets = match
unmatched_Mass_start = -6.27203 +/- 618.97 L(-800 - -1) 
unmatched_Mass_turn =  258.90 +/- 20.850 L(200 - 800) 
unmatched_Mass_stop =  405.51 +/- 21.753 L(1 - 800) 
unmatched_MassCBmean =  0.0000 C L(-INF - +INF) 
unmatched_MassCBsigma =  29.575 +/- 2.7109 L(0 - 500) 
unmatched_MassCBalpha = -0.842782 +/- 0.19343 L(-10 - 10) 
unmatched_MassCBn =  6.3670 +/- 3.9850 L(0 - 20) 
unmatchedsel_njets = nomatch
N_matched =  0.84955 +/- 0.0026914 L(0 - 1) 

   [Observables]
