
   [Parameters]
matched_MassCBmean =  506.77 +/- 0.99641 L(200 - 800) 
matched_MassCBsigma =  35.590 +/- 0.62289 L(1 - 100) 
matched_MassCBalpha1 =  0.91227 +/- 0.024973 L(0 - 20) 
matched_MassCBn1 =  5.3261 +/- 0.44403 L(0 - 20) 
matched_MassCBalpha2 =  0.90258 +/- 0.14722 L(0 - 20) 
matched_MassCBn2 =  19.264 +/- 19.600 L(0 - 20) 
matchsel_njets = match
unmatched_Mass_start = -20.1529 +/- 5.0804 L(-800 - -1) 
unmatched_Mass_turn =  271.64 +/- 2.7765 L(200 - 800) 
unmatched_Mass_stop =  379.97 +/- 9.5902 L(1 - 800) 
unmatched_MassCBmean =  0.0000 C L(-INF - +INF) 
unmatched_MassCBsigma =  36.301 +/- 2.1375 L(0 - 500) 
unmatched_MassCBalpha = -0.659396 +/- 0.058032 L(-10 - 10) 
unmatched_MassCBn =  19.998 +/- 17.152 L(0 - 20) 
unmatchedsel_njets = nomatch
N_matched =  0.82776 +/- 0.0026170 L(0 - 1) 

   [Observables]
